.header-container{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 20vh;
    border-radius: 10px;
    background-color: grey;
    margin: 1em 0em;
    justify-content: center;
    color:#282c34;
}

.hidden {
    display: none 
}

.date {
    width: 85%;
    height: auto;
    font-size: 7vw;
    position: absolute;
    margin-bottom: 1vh;
    margin-top: 2vh;
    transition: all 1s ease-in-out;
}

.time {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    width: 85%;
    height: auto;
    position: absolute;
    margin-bottom: 10px;
    align-self: flex-end;
}

.header-arrows {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.header-arrows i {
    transition: all 0.5s ease-in-out;
    font-size: 2.5em;
}

.header-arrows i:hover {
    color: white;
    transform: scale(1.075);
    font-size: 2.8em;
    box-shadow: 2px 3px 20px 1px grey;
}

/* @keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(3);
    }
}

.pulse {
    animation: grow 1s infinite linear;
} */

.fa-hourglass-half {
    width: 85%;
    height: auto;
    position: absolute;
    margin-bottom: 10px;
    align-self: flex-end;
    font-size: 2em;
    /* color: rgb(165, 42, 42); */
    animation: clockwise 5s infinite;
  }

 .counter {
      animation: counter 5s infinite;
  }

  @keyframes clockwise {
    0% {
        transform: rotate(-360deg);
    }
}
  @keyframes counter {
      0% {
          transform: rotate(360deg);
      }
  }