* {
    box-sizing: border-box;
    padding: 0;
}

.nav-container {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 60px;
    background-color: hsla(200, 43%, 82%, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 4px rgba(0, 0, 0, .2);
    overflow: hidden;
    border-radius: 30px;
}

.nav-bar {
    list-style: none;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.option {
    display: block;
    width: calc(330px / 4);
    height: 65px;
    color: black;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.fa {
    font-size: 1.3rem;
    transition: .5s;
}

.option-text {
    display: block;
    font-size: .8rem;
    transform: translateY(-20px);
    transition: .5s cubic-bezier(.75, -1, 0, 1.15);
}

.option:hover .fa {
    transform: translateY(-100px);
}

.option:hover span {
    transform: translateY(-70px);
}

